{{> menu}}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui four wide column">
      <img src="images/nf1.jpg" class="ui centered medium image">
    </div>
    <div class="ui eleven wide column fluid form">
      <h4>All Tickets</h4>
      <table class="ui celled blue table segment">
        <thead>
        <tr>
          <th> Ticket Id</th>
          <th> Month Created</th>
          <th> Status</th>
          <th> Replies</th>
          <th> Reply Time (mins)</th>
          <th> Resolution Time (mins)</th>
        </tr>
        </thead>
        <tbody>
        {{#each tickets}}
          <tr>
            <td><a href="/ticket/{{id}}"> {{ id }} </a></td>
            <td> {{ created_month }}/{{ created_year }} </td>
            <td> {{ status }} </td>
            <td> {{ replies }} </td>
            <td> {{ reply_time_absolute }} </td>
            <td> {{ full_res_time_absolute }} </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      <a href="#top"><button class="ui right floated blue button">Top</button></a>
    </div>
  </div>
</section>
